/* General */

/* Global Adjustments */

* , :after , :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #edeff0;
    font-family: 'Gayathri', sans-serif;
    min-width: 350px;
}

/* header */

header {
    width: 100%;
    height: 200px;
    background-color: #3e474f;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -3;
}

.animation {
    width: 95%;
    margin: auto;
    position: relative;
}

header h1 {
    max-width: max-content;
    max-height: max-content;
    position: relative;
    padding: 20px 5px 0;
    font-size: 3vw;
    background-color: #3e474f;
    border-top: 1px solid #5fcf80;
    border-left: 1px solid #b2bbbd;
    border-right: 1px solid #5fcf80;
    border-bottom: 1px solid #b2bbbd;
    border-radius: 10px;
    color: #b2bbbd;
    animation: movement 20s infinite;
}

@keyframes movement {
    0% { left: 0; top: 0;}
    50% {left: 77%; top: 0;}
    100% {left: 0; top: 0;}
}

header h1:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: #fff;
    z-index: -1;
    filter: blur(10px);
}

header h1:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: #5fcf80;
    z-index: -2;
    filter: blur(10px);
}

header h1:before, header h1:after {
    background: linear-gradient(235deg, #b2bbbd, #5fcf80);
}

/* header h1 */

header h1 span {
    font-size: 1.5em;
    color: #5fcf80;
}

/* Main */

main {
    width: 75%;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    border-top: 4px solid #3659a2;
    border-bottom: 4px solid #3659a2;
}

/* sections */

section {
    width: 100%;
    height: auto;
    margin: auto;
}

h2 {
    max-width: max-content;
    margin: 25px 0 0 25px;
    padding: 10px;
    font-size: 2em;
    color: #3659a2;
    letter-spacing: 5px;
    border-radius: 15px;
}

ul {
    list-style: none;
    width: 100%;
    margin: 20px auto;
}

li {
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
}

a {
    text-decoration: none;
    color: #000;
}

li:hover {
    box-shadow: 0 0 30px #000;
    transform: matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,5,0,1);
	transition-duration: 300ms;
}

img {
    width: 90%;
    height: 40%;
    background-color: #fff;
}

h3 {
    width: 100%;
    height: 10%;
    font-size: 1.5em;
    padding: 15px;
    color: #5fcf80;
}

li p {
    width: 100%;
    height: 48.8%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background: #edeff0;
    border-radius: 5px;
    overflow: auto;
}


/* Desktop and Laptop Display */

    /* Float-Grid */

    #grid-floats .grid-item {
        width: 20%;
        height: 700px;
        border-radius: 5px;
        margin: 2.5%;
        text-align: center;
        overflow: auto;
        float: left;
    }

    #grid-floats .first-li {
        width: 40%;
        margin: 2.5% 5%;
    }

    .grid-item p {
        text-align: center;
        padding: 30px 15px;
    }

    #grid-floats .last-row {
        margin-left: 15%;
    }

    .first-li p {
        font-size: 1.5em;
    }

    /* Flex-Grid */

    .section2 {
        clear: both;
    }

    .section2 h2 {
        padding-top: 60px;
    }

    #grid-flex {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    #grid-flex .grid-item {
        width: 20%;
        height: 700px;
        overflow: auto;
        margin: 2.5%;
        text-align: center;
    }

    #grid-flex .first-li {
        width: 40%;
        margin: auto;
    }


/* Tablet Display */

@media (max-width: 1024px) and (min-width: 601px) {

    header h1 {
        font-size: 2.9vw;
    }

    /* Float-Grid */

    #grid-floats .grid-item {
        width: 30%;
        margin: 1.6%;
    }

    #grid-floats .first-row {
        width: 45%;
        margin: 1.6% 2.5%;
    }

    /* Flex-Grid */

    #grid-flex .grid-item {
        width: 30%;
        margin: 1.6%;
    }

    #grid-flex .first-row {
        width: 45%;
        margin: 1.6% 2.5%;
    }
}


/* Mobile Display */


@media (max-width: 600px) {

    header h1 {
        font-size: 2.85vw;
    }

    h2 {
        margin: auto;
        font-size: 4vw;
    }

    img {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }
    
    h3 {
        width: 100%;
        height: 20%;
        font-size: 5vw;
        padding: 40px 15px 15px;
        margin-bottom: 20px;
        color: #5fcf80;
    }
    
    li p {
        width: 100%;
        height: 72vh;
    }

    /* Float-Grid */

    #grid-floats .grid-item {
        width: 45%;
        margin: 2.5%;
    }

    #grid-floats .first-li {
        width: 95%;
        margin: 2.5%;
    }

    #grid-floats .last-child {
        width: 45%;
        clear: both;
        margin: 0 25%;
    }

    /* Flex-Grid */

    #grid-flex .grid-item {
        width: 45%;
        margin: 2.5%;
    }

    #grid-flex .first-li {
        width: 95%;
        margin: 2.5%;
    }
}




